<html>
<head>
	<title>Memory Game</title>
 	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
 	<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
</head>
<body>

<div id="board-wrap">
	<h1 id="title">Memory Game</h1>


<div id="board">
	<div class="row">
		<div class="card" id="1"></div>
		<div class="card" id="2"></div>
		<div class="card" id="3"></div>
		<div class="card" id="4"></div>
	</div>

	<div class="row">
		<div class="card" id="5"></div>
		<div class="card" id="6"></div>
		<div class="card" id="7"></div>
		<div class="card" id="8"></div>
	</div>

	<div class="row">
		<div class="card" id="9"></div>
		<div class="card" id="10"></div>
		<div class="card" id="11"></div>
		<div class="card" id="12"></div>
	</div>

	<div class="row">
		<div class="card" id="13"></div>
		<div class="card" id="14"></div>
		<div class="card" id="15"></div>
		<div class="card" id="16"></div>
	</div>

</div>

</div>
</div>

<script src="{{ url_for('static', filename='game.js') }}" type="text/javascript"></script>
</body>
</html>